<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.VoteMapper" >
	
	<select id="getAllVote" resultType="java.lang.Integer">
		select count(0) from activity
	</select>
	
	<select id="getActivity" resultType="java.lang.Integer">
		select count(0) from vote
	</select>
 	
	
</mapper>